.NewPost {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    padding-bottom: 10px;
}

.NewPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewPost input,
.NewPost textarea {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid #7f8c8d;
    outline: none;
    font: inherit;
    margin: auto;
}


.select-auth{
   display: inline-block;
   box-sizing: border-box;
   width: 100%;
   font: inherit;
   text-align: center;
   padding: 5px;
}
.select-auth select{
  text-align: center;
  display: inline-block;
  padding: 4px;
  width: 30%;
  margin: auto;
}

.NewPost button {
    margin: 5px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid #2980b9;
    background-color: transparent;
    color: #2980b9;
    outline: none;
    cursor: pointer;
}

.NewPost button:hover,
.NewPost button:active {
    color: white;
    background-color: #2980b9;
}
