.Bottom {
   box-sizing: border-box;
   padding: 1.6% 2% ;
   width: 100%;
   height: 150px;
   background-color: #2d3436;
}

.my-links {
  display: inline-block;
  box-sizing: border-box;
}

.my-icons {
  display: inline-block;
  box-sizing: border-box;
}

.my-copyright{
  color: rgba(255,255,255,.5);
}
