.button{
     padding: 5px 8px;
     box-sizing: border-box;
     background-color: transparent;
     color: #fff;
    font-size: 110%;
    border: none;
    margin: 4px 2px;
    letter-spacing: 1px;
    outline: none;
    transition: color 0.2s;
}



.button:hover,
.button:active{
   cursor: pointer;
   color: #1e90ff;
}


@media only screen and (max-width: 621px){
    .button {
      font-size: 135%;
    }
}
