
.about-header {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  background-image: url(./img/1.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
}


.i-am {
  width: 15%;
}

.i-am img {
 width: 90%;
 border-radius: 60%;
}

.hr-line{
  width: 90%;
  margin: 10px auto;
  border-bottom: 1px solid #d1d1d1;
}




.basic-info {
  display: inline-block;
  margin-top: 4px;
}

.basic-info p {
  font-size: 115%;
  margin: 4px auto;
}


.more-info {
  text-align: left;
  width: 90%;
  margin: 10px auto;
}
