.Main-Section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./img/my-blog.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  margin-top: -20px;
}

.Blog-Textbox {
  position: absolute;
  width: 1140px;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-66%, -75%);
  margin: 0 0 20px;
  padding: 2%;
}

.Blog-Textbox h1 {
   color: #fff;
   text-transform: uppercase;
   font-weight: 400;
}

.Iam-div {
   width: 20%;
   height: 50%;
   position: absolute;
   top: 40%;
   left: 70%;
   transform: translate(-10%, -20%);
}

 /* transform: translate(); */

@media only screen and (max-width: 621px) {
  .Blog-Textbox {
    width: 100%;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -130%);
    margin: 0 0 20px;
  }

  .Iam-div {
     width: 22%;
     height: 40%;
     position: absolute;
     top: 53%;
     left: 40%;
     transform: translate(0%, 0%);

  }

}
