.for-back {
  display: inline-block;
  background-color: black;
  height: 250px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10%;
  position: relative;
  cursor: pointer;
}

.play-game {
  height: 250px;
  width: 100%;
  background-image: url(./img/play.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  opacity: 0.8;
  transition: opacity 0.3s;
  display: flex;
  justify-content: center;
}

.play-game:hover {
  opacity: 1;
}

.game-text {
  align-self: center;
  opacity: 1;
  font-size: 200%;
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
   .play-game {
     height: 200px;
   }
   .for-back {
     height: 200px;
   }
}

@media only screen and (max-width: 800px) {
   .play-game {
     height: 150px;
   }
   .for-back {
     height: 150px;
   }
   .game-text {
     font-size: 160%;
   }
}

@media only screen and (max-width: 580px){
  .play-game {
    height: 250px;
  }
  .for-back {
    height: 250px;
  }
  .game-text {
    font-size: 240%;
  }
}
