.FullPost-Section {
   width: 90%;
   margin: 20px auto;
   text-align: left;
}


.FullPost-Section img {
  width: 100%;
  height: auto;
}

.post-content {
   box-sizing: border-box;
   display: inline-block;
   text-align: left;
}

.fullpost-detail {
  margin: 0.8%;
}

@media only screen and (max-width: 580px){
  .FullPost-Section {
     margin: 20px auto 10px;
  }

}
