.section-contactMe {
   width: 100%;
   height: 80vh;
   min-height: 100%;
}

.contact-box {
  width: 430px;
  height: auto;
  margin: 1rem auto;
  padding: 2.1rem;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
}

.succes-p {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  font-size: 110%;
  font-weight: 560;
  color: green;
}

@media only screen and (max-width: 500px){
  .contact-box {
    width: 100%;
  }
}
