body {
  margin: 0;
  padding: 0;
}


h4 {
   text-transform: uppercase;
}

h4:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: "";
    width: 4rem;
    margin: 1% auto;
}
